

<div style="background-image: url('https://cdn1.vectorstock.com/i/1000x1000/95/60/rose-gold-abstract-elegant-background-with-vector-25329560.jpg')" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">
    <app-header></app-header>
  </h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-white" href="#">ABOUT US</a>
    <a class="p-2 text-white" href="#">ABOUT US</a>
    <a class="p-2 text-white" href="#">PRODUCTS</a>
    <a class="p-2 text-white" href="#">SERVICES</a>
  </nav>
  <a class="btn btn-outline-primary text-white" href="http://localhost/nehaphp/">Sign up</a>
</div>
